body{
    background-color: beige;
}

h1{
    color: cornflowerblue;
}
/* active란 클래스 */
.clicked {
    color: tomato;
}
.sexy-font {
    font-family: 'Courier New', Courier, monospace;
}